#btn-aside-trigger
    // +indep
    +size(auto, 2.5rem)
    line-height: 2.5rem
    z-index: 1
    cursor: pointer
    background: $deep-blue
    color: white
    @extend .bbradius-60
    @extend .shadow-5
    @media only screen and (max-width: 480px)
        line-height: 1.125em
        height: auto
        padding-top: .5em
        padding-bottom: .5em
        .fa
            display: none
    @media only screen and (max-width: 375px)
        font-size: 13px
.aside-wrap
    @media only screen and (max-width: 991px)
        aside
            max-height: 0
            overflow: hidden
            +animate_ease_second(all, .35s)
            &.asidemenu-opened
                max-height: 90vh
                overflow: auto

// side-menu
.side-menu
    .nav.flex-column
        > li
            .nav-link
                font-size: 1rem
                color: white
            @media all and (min-width: 992px)
                .nav-link
                    &.active, &.active:hover, &.active:focus, &:hover, &:focus, &.active
                        color: $base-color-hover
                    &.active:after
                        right: 10px
                        color: $base-color-hover