.about-wrap
    .about-title
        font-size: 2.25rem
        font-weight: bold
        color: $base-color2
        @media all and (max-width: 991px)
            font-size: 1.75rem
        @media all and (max-width: 640px)
            font-size: 1.5rem
    &.dark
        color: $gray-lighter
    &.about-bg
        background-repeat: no-repeat
        @media all and (min-width: 1921px)
            background-size: 2048px auto
    .about-slogan
        letter-spacing: 5px
    .about-border
        border-top: .5rem solid $base-color2
    .about-context
        @media all and (min-width: 992px)
            font-size: 1.25rem
    .about-pic01
        @media all and (max-width: 991px)
            img
                margin: auto
    .service-item:not(:last-child)
        border-bottom: 1px solid #ccc
        padding-bottom: 2.5rem
    .icon-service-wrap
        flex-direction: column
        text-align: center
        .icon-service
            min-width: 72px
            max-width: 90px
            @media all and (min-width: 992px)
                min-width: 72px
            @media all and (max-width: 991px)
                min-width: 4rem
                max-width: 5rem
    .bg-fixed
        background-repeat: no-repeat
    @media all and (min-width: 992px)
        .bg-fixed
            background-attachment: fixed
            background-repeat: no-repeat
    @media all and (max-width: 991px)
        .about-pic-wrap
            padding: 0
        .bg-about-service
            min-height: 460px
            background-size: cover
            background-position: center center