.products-list
    .product-item
        .product-detail-link.detail-link
            a
            @media all and (max-width: 991px)
                +fill
                a
                    +indep
                    top: 0
                    left: 0
                    +fill
                    opacity: 0
                &:after
                    +size(0, 0)
                    z-index: -2
