/*
Version: 2.1.1
File Description: Blue Skin
*/
/* 1- Typography
-------------------------------------------------
-------------------------------------------------*/
a {
  color: #3697d9; }

a:hover {
  color: #338dca; }

a:focus,
a:active {
  color: #338dca; }

mark,
.mark {
  background-color: #3697d9;
  color: #ffffff; }

.text-default {
  color: #3697d9; }

/* Tables
---------------------------------- */
.table.table-colored {
  border-bottom-color: #3697d9; }

.table-colored > thead > tr > th {
  border-color: #3697d9;
  background-color: #3697d9;
  color: #ffffff; }

/* 2- Layout
-------------------------------------------------
-------------------------------------------------*/
.header-top.dark {
  background-color: #2d3439;
  border-bottom: 1px solid #242a2e; }

.header.dark {
  background-color: #384147;
  border-top-color: #384147; }

.header-top.colored {
  background-color: #3697d9;
  border-bottom: 1px solid #3697d9; }

.default-bg {
  background-color: #3697d9;
  color: #ffffff; }

.default-bg-50 {
  background-color: rgba(54, 151, 217, 0.5);
  color: #ffffff; }

/*Transparent Header*/
.transparent-header header.header.dark.transparent-header-on {
  background-color: rgba(56, 65, 71, 0.8);
  border-top-color: rgba(36, 42, 46, 0.5); }

/*Fixed Navigation*/
.fixed-header-on .dark.header.fixed {
  background-color: rgba(56, 65, 71, 0.95); }

/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
  .fixed-header-on .dark.header .dropdown-menu {
    border: 1px solid #2d3439; } }
/*Translucent Backgrounds*/
.default-translucent-bg:after {
  background-color: rgba(54, 151, 217, 0.7); }

.default-translucent-bg.hovered:hover:after {
  background-color: rgba(54, 151, 217, 0.8); }

.default-hovered:hover:after,
.default-hovered:hover {
  background-color: #3697d9; }

/* 4 Pages
-------------------------------------------------
-------------------------------------------------*/
/* Blog Timeline layout
---------------------------------- */
.timeline-date-label:after {
  background-color: #3697d9; }

/* 5 Components
-------------------------------------------------
-------------------------------------------------*/
/* Buttons
---------------------------------- */
.btn-default {
  background-color: #3697d9;
  border-color: #338dca; }

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.show > .dropdown-toggle.btn-default {
  background-color: #338dca;
  border-color: #338dca; }

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default {
  background-color: #3697d9;
  border-color: #338dca; }

.btn-default-transparent {
  border-color: #3697d9; }

.btn-default-transparent:hover,
.btn-default-transparent:focus,
.btn-default-transparent.focus,
.btn-default-transparent:active,
.btn-default-transparent.active,
.show > .dropdown-toggle.btn-default-transparent {
  background-color: #338dca;
  border-color: #338dca; }

.default-bg .btn-default,
.default-translucent-bg .btn-default,
.default-bg .btn-default-transparent,
.default-translucent-bg .btn-default-transparent {
  color: #3697d9; }

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.show > .dropdown-toggle.btn-white {
  color: #338dca; }

.btn-animation:hover:before,
.btn-animation:focus:before {
  background: #338dca; }

/* Pager
---------------------------------- */
ul.pagination .page-item .page-link:hover,
ul.pagination .page-item .page-link:focus {
  background-color: #338dca;
  border-color: #338dca; }

ul.pagination .page-item.active .page-link,
.page-item.active .page-link:hover,
.page-item.active .page-link:focus {
  background-color: #3697d9;
  border-color: #3697d9; }

/* Breadcrumb
---------------------------------- */
.banner .breadcrumb .breadcrumb-item a:hover {
  color: #338dca; }

.banner .dark.breadcrumb-container {
  background-color: rgba(56, 65, 71, 0.6); }

/* Nav pills
---------------------------------- */
.nav-pills.style-2 > li .nav-link.active,
.nav-pills.style-2 > li .nav-link.active:hover,
.nav-pills.style-2 > li .nav-link.active:focus,
.nav-pills.style-2 > li .nav-link:hover,
.nav-pills.style-2 > li .nav-link:focus {
  color: #3697d9; }

.nav.flex-column > li .nav-link.active, .nav.flex-column > li .nav-link.active:hover, .nav.flex-column > li .nav-link.active:focus, .nav.flex-column > li .nav-link:hover, .nav.flex-column > li .nav-link:focus {
  color: #3697d9; }

.nav-pills > li .nav-link.active:after {
  color: #3697d9; }

.nav.flex-column:not(.list-style-icons) > li .nav-link.active:hover:after, .nav.flex-column:not(.list-style-icons) > li .nav-link.active:focus:after, .nav.flex-column:not(.list-style-icons) > li .nav-link:hover:after, .nav.flex-column:not(.list-style-icons) > li .nav-link:focus:after {
  color: #338dca; }

.nav.flex-column.list-style-icons > li .nav-link.active > i, .nav.flex-column.list-style-icons > li .nav-link:hover > i, .nav.flex-column.list-style-icons > li .nav-link:focus > i {
  color: #338dca; }

.dark .footer-content .nav.flex-column > li > a.active:hover, .dark .footer-content .nav.flex-column > li > a:hover {
  color: #338dca; }

/* Collapse
---------------------------------- */
.collapse-style-2 .card-header a {
  background-color: #3697d9; }

/* Progress bars
---------------------------------- */
.progress-bar-default {
  background-color: #3697d9; }

/* Forms
---------------------------------- */
.default-bg .form-control {
  border-color: #338dca; }
.default-bg .input-group-addon {
  border-color: #338dca; }

/*Icons
---------------------------------- */
.icon.default-bg {
  background-color: #3697d9; }
.icon.light-bg {
  color: #3697d9; }

/*Listing Items
---------------------------------- */
.listing-item .overlay-container .badge {
  border: 1px solid #3697d9;
  color: #3697d9; }

/*Modals
---------------------------------- */
.modal-content .modal-header {
  background-color: #3697d9; }

/*Pace (Page loader)
---------------------------------- */
/*loader 1*/
.page-loader-1 .pace {
  border: 1px solid #3697d9; }
.page-loader-1 .pace .pace-progress {
  background: #3697d9; }

.page-loader-2 .pace .pace-progress:before {
  background: #3697d9; }
.page-loader-2 .pace .pace-activity {
  border: 5px solid #3697d9; }
.page-loader-2 .pace .pace-activity:after {
  border: 5px solid #3697d9; }
.page-loader-2 .pace .pace-activity:before {
  border: 5px solid #3697d9; }

.page-loader-3 .pace .pace-progress {
  background: #3697d9; }

.page-loader-4 .pace .pace-progress {
  background: #3697d9; }

.page-loader-5 .pace .pace-progress:after {
  color: #3697d9; }

.page-loader-6 .pace .pace-activity {
  background: #3697d9; }

/* 6 Navigations
-------------------------------------------------
-------------------------------------------------*/
/* 6.1 Light Version
----------------------------------------------------------------------------- */
.header .navbar-nav li .nav-link:focus,
.header .navbar-nav li .nav-link:hover,
.header .navbar-nav .show > .nav-link,
.header .navbar-nav li .nav-link.show,
.header .navbar-nav .active.show > .nav-link,
.header .navbar-nav li.show .nav-link.active {
  color: #3697d9; }

.header .navbar-nav .active > .nav-link,
.header .navbar-nav li .nav-link.active {
  color: #3697d9; }

.header .navbar-nav li li a:focus,
.header .navbar-nav li li a:hover,
.header .navbar-nav li .show > a,
.header .navbar-nav li li a.show,
.header .navbar-nav li .active > a,
.header .navbar-nav li li a.active {
  color: #338dca; }

header:not(.dark) .mega-menu .menu > li > a:hover i,
header:not(.dark) .dropdown-menu > li > a:hover i,
header:not(.dark) .mega-menu .menu > li.active > a i,
header:not(.dark) .dropdown-menu > li.active > a i {
  color: #3697d9; }

.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus {
  border-color: #338dca; }

/* Small devices (tablets, phones less than 767px) */
@media (max-width: 991px) {
  .header .navbar-nav .active .nav-link,
  .header .navbar-nav .active .nav-link:hover,
  .header .navbar-nav .active .nav-link:focus {
    color: #338dca; }

  /* first level item hover and focus states */
  .header .navbar-nav li > a:hover,
  .header .navbar-nav li > a:focus,
  .header .navbar-nav .active > a,
  .header .navbar-nav .active > a:hover,
  .header .navbar-nav .active > a:focus {
    color: #338dca; }

  /* second level item on hover/focus */
  .header .navbar-nav .show .dropdown-menu > li > a:hover,
  .header .navbar-nav .show .dropdown-menu > li > a:focus {
    color: #338dca; }

  /* Arrow for parent menu item */
  .header .navbar-nav .dropdown.show > .dropdown-toggle::after {
    color: #3697d9; } }
/* 6.2 Dark Version
----------------------------------------------------------------------------- */
/* first level active menu item when opened */
.dark.header .navbar-nav .show .nav-link,
.dark.header .navbar-nav .show .nav-link:hover,
.dark.header .navbar-nav .show .nav-link:focus,
.dark.header .navbar-nav .dropdown .nav-link:focus {
  border-bottom-color: #2d3439; }

/* second level menu item */
.dark.header .dropdown-menu {
  background-color: #2d3439; }

.dark.header .dropdown-menu .divider {
  background-color: rgba(56, 65, 71, 0.8); }

.dark.header .dropdown-menu > li > a,
.dark.header .navbar-nav .mega-menu .menu > li > a {
  border-bottom: 1px solid rgba(56, 65, 71, 0.8); }

.dark.header .mega-menu .menu > li > a:hover,
.dark.header .mega-menu .menu > li > a:focus {
  border-color: rgba(56, 65, 71, 0.8); }

.dark.header .dropdown-menu > li > a:hover,
.dark.header .dropdown-menu > li > a:focus,
.dark.header .navbar-nav .show > a,
.dark.header .navbar-nav .show > a:hover,
.dark.header .navbar-nav .show > a:focus,
.dark.header .dropdown-menu > .active > a,
.dark.header .dropdown-menu > .active > a:hover,
.dark.header .dropdown-menu > .active > a:focus,
.dark.header .dropdown-menu .menu > .active > a,
.dark.header .dropdown-menu .menu > .active > a:hover,
.dark.header .dropdown-menu .menu > .active > a:focus {
  border-color: rgba(56, 65, 71, 0.8); }

/* 6.3 Navigation style 2
----------------------------------------------------------------------------- */
@media (min-width: 992px) {
  .header.white-bg .main-navigation--style-2 .navbar-nav li .nav-link:focus,
  .header.white-bg .main-navigation--style-2 .navbar-nav li .nav-link:hover,
  .header.white-bg .main-navigation--style-2 .navbar-nav li.show .nav-link {
    color: #3697d9; } }
/* 7 Blocks/Widgets
-------------------------------------------------
-------------------------------------------------*/
/* Social icons block
---------------------------------- */
.social-links li a:hover {
  border-color: #338dca;
  color: #338dca; }
.social-links.animated-effect-1 li a:after {
  background-color: #3697d9; }
.social-links.default li a {
  background-color: #3697d9;
  border: 1px solid #338dca; }

.header-top:not(.dark) .social-links .dropdown.show > button > i:before {
  color: #3697d9; }

/*Header Dropdowns (search, cart etc)
---------------------------------- */
.header-dropdown-buttons .btn-group > .btn:hover {
  background-color: #3697d9;
  border-color: #338dca; }

.header-dropdown-buttons .btn-group.show > .btn {
  background-color: #3697d9;
  border-color: #338dca; }

.dark.header-top .dropdown-menu {
  border: 1px solid #242a2e;
  background: #2d3439; }

.colored.header-top .dropdown-menu {
  border: 1px solid #3697d9;
  background: #3697d9; }

/* Media
---------------------------------- */
.media:hover .icon {
  color: #3697d9;
  border: 1px solid #3697d9; }

/* Full Width Content
---------------------------------- */
/* Large and Medium devices (desktops, tablets less than 1199px) */
@media (max-width: 1199px) {
  .full-width-section:not(.no-image) .full-text-container.default-bg {
    background-color: rgba(54, 151, 217, 0.6); } }
/* Pricing tables
---------------------------------- */
.popover-title {
  background-color: #3697d9; }

/* Tags cloud block
---------------------------------- */
.tag a {
  background-color: #3697d9;
  border: 1px solid #338dca; }
.tag a:hover {
  color: #3697d9;
  border-color: #338dca; }

/* 8 Main Slideshow
-------------------------------------------------
-------------------------------------------------*/
.tp-bannertimer {
  background-color: rgba(54, 151, 217, 0.8); }

/* 9 Slick Carousel
-------------------------------------------------
-------------------------------------------------*/
.content-slider-with-large-controls .slick-prev:after,
.content-slider-with-large-controls-autoplay .slick-prev:after {
  color: #3697d9; }

.content-slider-with-large-controls .slick-next:after,
.content-slider-with-large-controls-autoplay .slick-next:after {
  color: #3697d9; }

/* 10 Full Page
-------------------------------------------------
-------------------------------------------------*/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: rgba(54, 151, 217, 0.8); }

/*# sourceMappingURL=blue.css.map */
