.pointer
    cursor: pointer
.scrollToTop
    +size(40px, 40px)
    i
        line-height: 38px
    &:hover
        background-color: $base-color2
form label, .radio label, .checkbox label
    font-weight: normal
.form-control
    @extend .bbradius-0
    border: 1px solid $text-light
    &.form-control-small
        max-width: 9.5rem
.editor-wrap
    img
        max-width: 100%
// button btn
.btn-cta
    background-color: $base-color2
    border-color: $base-color2
    color: #fff

.btn-cta:hover,
.btn-cta:focus,
.btn-cta.focus,
.btn-cta:active,
.btn-cta.active
    background-color: white
    border-color: $link-hover
    color: $link-hover
.btn-cta-h
    background-color: white
    border-color: $base-color2
    color: $base-color2

.btn-cta-h:hover,
.btn-cta-h:focus,
.btn-cta-h.focus,
.btn-cta-h:active,
.btn-cta-h.active
    background-color: $link-hover
    border-color: $link-hover
    color: white

.btn-default-h
    background-color: white
    border-color: $base-color
    color: $base-color

.btn-default-h:hover,
.btn-default-h:focus,
.btn-default-h.focus,
.btn-default-h:active,
.btn-default-h.active
    background-color: $base-color
    border-color: $base-color
    color: white

.page-border
    border-top: .5rem solid $base-color2

.products-list
    .product-item
        overflow: hidden
        position: relative
        z-index: 1
        .detail-link
            +indep
            +fill
            color: white
            z-index: 2
            bottom: 0
            left: 0
            opacity: 0
            +animate_ease_second(all, .35s)
            &:after
                +indep
                bottom: -110%
                left: 0
                +fill
                content: ""
                background: rgba(black, .35)
                +animate_ease_second(all, .35s)
                opacity: 0
                z-index: -1
            .btn span
                position: relative
                top: 30px
                +animate_ease_second(all, .85s)
        .product-image
            max-width: 100%
            overflow: hidden
            img
                width: 100%
        @media all and (min-width: 992px)
            .product-image
                img
                    +animate_ease_second(all, .5s)
            &:hover
                .detail-link
                    +animate_ease_second(all, .35s)
                    opacity: 1
                    &:after
                        bottom: 0
                        opacity: 1
                        +animate_ease_second(all, .35s)
                    .btn span
                        top: 0
                        +animate_ease_second(all, .85s)
                .product-image
                    img
                        +scale(1.1, 1.1)
                        +animate_ease_second(all, .5s)
        @media all and (max-width: 991px)
            .detail-link
                bottom: 0
                z-index: 2
                height: auto
                opacity: 1
                padding: .75rem .5rem
                &:after
                    background: rgba(0, 0, 0, 0.5)
                    bottom: 0
                    opacity: 1
                a
                    &.btn span
                        top: 0

.filters-cc
    .nav-pills > li
        margin-bottom: .5rem
        .nav-link
            border: 2px solid rgba($base-color, .15)
            padding: .35rem 1rem
            @extend .bbradius-90
            &.active, &.active:hover, &.active:focus, &:hover, &:focus
                border-color: $base-color2
                color: $base-color2
                background-color: transparent
// popup-img-cc
.mfp-fade
    &.mfp-wrap
        .mfp-content
            opacity: 0
            -webkit-transition: all 0.15s ease-out
            -moz-transition: all 0.15s ease-out
            transition: all 0.15s ease-out
            +scale(1.1, 1.1)
        &.mfp-ready .mfp-content
                opacity: 1
                +scale(1, 1)
        &.mfp-removing .mfp-content
                opacity: 0
                +scale(.6, .6)
    &.mfp-bg
        opacity: 0
        -webkit-transition: all 0.15s ease-out
        -moz-transition: all 0.15s ease-out
        transition: all 0.15s ease-out
        &.mfp-ready
            opacity: 0.8
        &.mfp-removing
            opacity: 0

ul.pagination .page-item .page-link,
.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link,
ul.pager .page-item .page-link
    +size(2rem, 2rem)
    line-height: calc(2rem - 1px)
    @extend .bbradius-0
