#footer
    .footer-content
        padding: 3.8rem 0 2.5rem 0
        background: url(../../images/bg-pattern01.jpg) center center repeat
        border-top: 2px solid $base-color
        h4
            font-size: .98rem
            margin-bottom: 1em
        .list-icon
            list-style-type: none
            padding: 0
            li
                font-size: 13px
                line-height: 2.5em
    .social-icons
        ul
            padding: 0
            list-style: none
            .social-facebook
                a
                    font-size: 13px
                    color: $facebook
                    border: 1px solid $facebook
                    padding: .5em 1.5em
            @media all and (min-width: 992px)
                .social-facebook
                    a:hover, a:focus, a:active
                        background: $facebook
                        color: white
.footer-logo-pic
    max-width: 240px
    @media all and (max-width: 640px)
        max-width: 200px
    @media all and (max-width: 480px)
        max-width: 180px

.subfooter
    font-size: 12px
    a
        color: $text-light