.header-container
    background-color: black
.logo-img
    @media all and (min-width: 1441px)
        width: 254px
    @media all and (max-width: 1280px)
        width: 230px
    @media all and (max-width: 768px)
        width: 220px
    @media all and (max-width: 414px)
        width: 185px
// .transparent-header.gradient-background-header header.header.dark.transparent-header-on
.transparent-header
    &.gradient-background-header header.header.dark.transparent-header-on
        background: transparent
        @media all and (max-width: 991px)
            &.menu-opened
                background: -moz-linear-gradient(top, rgba($deep-blue, 0.7) 0%, rgba($deep-blue, 0.35) 99%, rgba($deep-blue, 0) 100%)
                background: -webkit-linear-gradient(top, rgba($deep-blue, 0.7) 0%, rgba($deep-blue, 0.35) 99%, rgba($deep-blue, 0) 100%)
                background: linear-gradient(to bottom, rgba($deep-blue, 0.7) 0%, rgba($deep-blue, 0.35) 99%, rgba($deep-blue, 0) 100%)
    .dark.header
        .navbar-nav
            li
                .nav-link
                    color: white
            @media all and (min-width: 992px)
                .show .nav-link, .show .nav-link:hover,  .show .nav-link:focus, .dropdown .nav-link:focus
                    background-color: transparent
                    color: $link-hover

.header, .dark.header
    .dropdown-menu
        background: white
        @extend .bbradius-5
        > li
            > a
                color: $text-dark
                border-bottom: none
                text-shadow: none
            @media all and (min-width: 992px)
                > a:hover, > a:focus
                    background-color: white
                    color: $link-hover
    .dropdown-toggle::after
        display: none
    .navbar-nav
        li
            .nav-link
                font-size: 1.1rem
                letter-spacing: 2px
                text-shadow: 1px 1px 1px rgba(black, .65)
        @media all and (min-width: 992px)
            li .nav-link:hover,
            li .nav-link:focus,
            .active .nav-link,
            .active .nav-link:hover,
            .active .nav-link:focus  
                color: $base-color2
                text-shadow: 1px 1px 1px rgba(black, .15)

.header.menu-opened
    #main-menu-trigger
        .x
            .lines
                background: transparent !important
            .lines:before, .lines:after
                -o-transform-origin: 50% 50%
                -moz-transform-origin: 50% 50%
                -ms-transform-origin: 50% 50%
                -webkit-transform-origin: 50% 50%
                transform-origin: 50% 50%
                top: 0
                width: 20px
            .lines:before
                -o-transform: rotate3d(0, 0, 1, 45deg)
                -moz-transform: rotate3d(0, 0, 1, 45deg)
                -ms-transform: rotate3d(0, 0, 1, 45deg)
                -webkit-transform: rotate3d(0, 0, 1, 45deg)
                transform: rotate3d(0, 0, 1, 45deg)
            .lines:after
                -o-transform: rotate3d(0, 0, 1, -45deg)
                -moz-transform: rotate3d(0, 0, 1, -45deg)
                -ms-transform: rotate3d(0, 0, 1, -45deg)
                -webkit-transform: rotate3d(0, 0, 1, -45deg)
                transform: rotate3d(0, 0, 1, -45deg)     
#main-menu-trigger
    +indep
    z-index: 1
    left: 0
    +size(16px, 24px)
    border: none
    background: none
    .lines-button
        +indep
        +fill
        left: 0
        top: 0
    .lines
        display: block
        +size(16px, 2px)
        @extend .bbradius-5
        -webkit-transition: 0.3s
        -mos-transition: 0.3s
        -o-transition: 0.3s
        -ms-transition: 0.3s
        transition: 0.3s
        position: relative
        +v_center
        background: black
        &:before, &:after
            content: ""
            display: block
            +indep
            +size(16px, 2px)
            @extend .bbradius-5
            -webkit-transition: 0.3s
            -mos-transition: 0.3s
            -o-transition: 0.3s
            -ms-transition: 0.3s
            transition: 0.3s
            content: ''
            left: 0
            -ms-transform-origin: 2.85714px center
            -mos-transform-origin: 2.85714px center
            -o-transform-origin: 2.85714px center
            -webkit-transform-origin: 2.85714px center
            transform-origin: 2.85714px center
            width: 100%
            background: black
        &:before
            top: 5px
        &:after
            top: -5px
.dark
    .navbar
        #main-menu-trigger
            .lines
                background: white
                &:before, &:after
                    background: white