@charset "UTF-8";
.bg-gray {
  background-color: #eee !important; }

.bg-black {
  background-color: #000; }

.bg-dark {
  background-color: #06172f !important; }

.bg-dark-blue {
  background-color: #002b5c;
  color: #fff; }

/* 1- Typography */
a {
  color: #CC0019; }

a:hover {
  color: #b3192b; }

a:focus,
a:active {
  color: #0c9ec7; }

mark,
.mark {
  background-color: #004DA0;
  color: #ffffff; }

.text-default {
  color: #004DA0; }

/* Tables */
.table.table-colored {
  border-bottom-color: #004DA0; }

.table-colored > thead > tr > th {
  border-color: #004DA0;
  background-color: #004DA0;
  color: #ffffff; }

/* 2- Layout */
.header-top.dark {
  background-color: #2e3537;
  border-bottom: 1px solid #252a2c; }

.header.dark {
  background-color: #002b5c;
  border-top-color: #002b5c; }

.header-top.colored {
  background-color: #004DA0;
  border-bottom: 1px solid #004DA0; }

.default-bg {
  background-color: #004DA0;
  color: #ffffff; }

.default-bg-50 {
  background-color: rgba(0, 77, 160, 0.5);
  color: #ffffff; }

/*Transparent Header */
.transparent-header header.header.dark.transparent-header-on {
  background-color: rgba(0, 43, 92, 0.8);
  border-top-color: rgba(37, 42, 44, 0.5); }

/*Fixed Navigation */
.fixed-header-on .dark.header.fixed {
  background-color: rgba(0, 43, 92, 0.95); }

/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
  .fixed-header-on .dark.header .dropdown-menu {
    border: 1px solid #2e3537; } }
/*Translucent Backgrounds */
.default-translucent-bg:after {
  background-color: rgba(0, 77, 160, 0.7); }

.default-translucent-bg.hovered:hover:after {
  background-color: rgba(0, 77, 160, 0.8); }

.default-hovered:hover:after,
.default-hovered:hover {
  background-color: #004DA0; }

/* 4 Pages */
/* Blog Timeline layout */
.timeline-date-label:after {
  background-color: #004DA0; }

/* 5 Components */
/* Buttons */
.btn-default {
  background-color: #004DA0;
  border-color: #004DA0; }

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.show > .dropdown-toggle.btn-default {
  background-color: #0c9ec7;
  border-color: #0c9ec7; }

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default {
  background-color: #004DA0;
  border-color: #0c9ec7; }

.btn-default-transparent {
  border-color: #004DA0; }

.btn-default-transparent:hover,
.btn-default-transparent:focus,
.btn-default-transparent.focus,
.btn-default-transparent:active,
.btn-default-transparent.active,
.show > .dropdown-toggle.btn-default-transparent {
  background-color: #0c9ec7;
  border-color: #0c9ec7; }

.default-bg .btn-default,
.default-translucent-bg .btn-default,
.default-bg .btn-default-transparent,
.default-translucent-bg .btn-default-transparent {
  color: #004DA0; }

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.show > .dropdown-toggle.btn-white {
  color: #0c9ec7; }

.btn-animation:hover:before,
.btn-animation:focus:before {
  background: #0c9ec7; }

/* Pager */
ul.pagination .page-item .page-link:hover,
ul.pagination .page-item .page-link:focus {
  background-color: #0c9ec7;
  border-color: #0c9ec7; }

ul.pagination .page-item.active .page-link,
.page-item.active .page-link:hover,
.page-item.active .page-link:focus {
  background-color: #004DA0;
  border-color: #004DA0; }

/* Breadcrumb */
.banner .breadcrumb .breadcrumb-item a:hover {
  color: #0c9ec7; }

.banner .dark.breadcrumb-container {
  background-color: rgba(0, 43, 92, 0.6); }

/* Nav pills */
.nav-pills.style-2 > li .nav-link.active,
.nav-pills.style-2 > li .nav-link.active:hover,
.nav-pills.style-2 > li .nav-link.active:focus,
.nav-pills.style-2 > li .nav-link:hover,
.nav-pills.style-2 > li .nav-link:focus {
  color: #004DA0; }

.nav.flex-column > li .nav-link.active, .nav.flex-column > li .nav-link.active:hover, .nav.flex-column > li .nav-link.active:focus, .nav.flex-column > li .nav-link:hover, .nav.flex-column > li .nav-link:focus {
  color: #004DA0; }

.nav-pills > li .nav-link.active:after {
  color: #004DA0; }

.nav.flex-column:not(.list-style-icons) > li .nav-link.active:hover:after, .nav.flex-column:not(.list-style-icons) > li .nav-link.active:focus:after, .nav.flex-column:not(.list-style-icons) > li .nav-link:hover:after, .nav.flex-column:not(.list-style-icons) > li .nav-link:focus:after {
  color: #0c9ec7; }

.nav.flex-column.list-style-icons > li .nav-link.active > i, .nav.flex-column.list-style-icons > li .nav-link:hover > i, .nav.flex-column.list-style-icons > li .nav-link:focus > i {
  color: #0c9ec7; }

.dark .footer-content .nav.flex-column > li > a.active:hover, .dark .footer-content .nav.flex-column > li > a:hover {
  color: #0c9ec7; }

/* Collapse */
.collapse-style-2 .card-header a {
  background-color: #004DA0; }

/* Progress bars */
.progress-bar-default {
  background-color: #004DA0; }

/* Forms */
.default-bg .form-control {
  border-color: #0c9ec7; }
.default-bg .input-group-addon {
  border-color: #0c9ec7; }

/*Icons */
.icon.default-bg {
  background-color: #004DA0; }
.icon.light-bg {
  color: #004DA0; }

/*Listing Items */
.listing-item .overlay-container .badge {
  border: 1px solid #004DA0;
  color: #004DA0; }

/*Modals */
.modal-content .modal-header {
  background-color: #004DA0; }

/*Pace (Page loader) */
/*loader 1 */
.page-loader-1 .pace {
  border: 1px solid #004DA0; }
.page-loader-1 .pace .pace-progress {
  background: #004DA0; }

.page-loader-2 .pace .pace-progress:before {
  background: #004DA0; }
.page-loader-2 .pace .pace-activity {
  border: 5px solid #004DA0; }
.page-loader-2 .pace .pace-activity:after {
  border: 5px solid #004DA0; }
.page-loader-2 .pace .pace-activity:before {
  border: 5px solid #004DA0; }

.page-loader-3 .pace .pace-progress {
  background: #004DA0; }

.page-loader-4 .pace .pace-progress {
  background: #004DA0; }

.page-loader-5 .pace .pace-progress:after {
  color: #004DA0; }

.page-loader-6 .pace .pace-activity {
  background: #004DA0; }

/* 6 Navigations */
/* 6.1 Light Version */
.header .navbar-nav li .nav-link:focus,
.header .navbar-nav li .nav-link:hover,
.header .navbar-nav .show > .nav-link,
.header .navbar-nav li .nav-link.show,
.header .navbar-nav .active.show > .nav-link,
.header .navbar-nav li.show .nav-link.active {
  color: #004DA0; }

.header .navbar-nav .active > .nav-link,
.header .navbar-nav li .nav-link.active {
  color: #004DA0; }

.header .navbar-nav li li a:focus,
.header .navbar-nav li li a:hover,
.header .navbar-nav li .show > a,
.header .navbar-nav li li a.show,
.header .navbar-nav li .active > a,
.header .navbar-nav li li a.active {
  color: #0c9ec7; }

header:not(.dark) .mega-menu .menu > li > a:hover i,
header:not(.dark) .dropdown-menu > li > a:hover i,
header:not(.dark) .mega-menu .menu > li.active > a i,
header:not(.dark) .dropdown-menu > li.active > a i {
  color: #004DA0; }

.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus {
  border-color: #0c9ec7; }

/* Small devices (tablets, phones less than 767px) */
@media (max-width: 991px) {
  .header .navbar-nav .active .nav-link,
  .header .navbar-nav .active .nav-link:hover,
  .header .navbar-nav .active .nav-link:focus {
    color: #0c9ec7; }

  /* first level item hover and focus states */
  .header .navbar-nav li > a:hover,
  .header .navbar-nav li > a:focus,
  .header .navbar-nav .active > a,
  .header .navbar-nav .active > a:hover,
  .header .navbar-nav .active > a:focus {
    color: #0c9ec7; }

  /* second level item on hover/focus */
  .header .navbar-nav .show .dropdown-menu > li > a:hover,
  .header .navbar-nav .show .dropdown-menu > li > a:focus {
    color: #0c9ec7; }

  /* Arrow for parent menu item */
  .header .navbar-nav .dropdown.show > .dropdown-toggle::after {
    color: #004DA0; } }
/* 6.2 Dark Version */
/* first level active menu item when opened */
.dark.header .navbar-nav .show .nav-link,
.dark.header .navbar-nav .show .nav-link:hover,
.dark.header .navbar-nav .show .nav-link:focus,
.dark.header .navbar-nav .dropdown .nav-link:focus {
  border-bottom-color: #2e3537; }

/* second level menu item */
.dark.header .dropdown-menu {
  background-color: #2e3537; }

.dark.header .dropdown-menu .divider {
  background-color: rgba(0, 43, 92, 0.8); }

.dark.header .dropdown-menu > li > a,
.dark.header .navbar-nav .mega-menu .menu > li > a {
  border-bottom: 1px solid rgba(0, 43, 92, 0.8); }

.dark.header .mega-menu .menu > li > a:hover,
.dark.header .mega-menu .menu > li > a:focus {
  border-color: rgba(0, 43, 92, 0.8); }

.dark.header .dropdown-menu > li > a:hover,
.dark.header .dropdown-menu > li > a:focus,
.dark.header .navbar-nav .show > a,
.dark.header .navbar-nav .show > a:hover,
.dark.header .navbar-nav .show > a:focus,
.dark.header .dropdown-menu > .active > a,
.dark.header .dropdown-menu > .active > a:hover,
.dark.header .dropdown-menu > .active > a:focus,
.dark.header .dropdown-menu .menu > .active > a,
.dark.header .dropdown-menu .menu > .active > a:hover,
.dark.header .dropdown-menu .menu > .active > a:focus {
  border-color: rgba(0, 43, 92, 0.8); }

/* 6.3 Navigation style 2 */
@media (min-width: 992px) {
  .header.white-bg .main-navigation--style-2 .navbar-nav li .nav-link:focus,
  .header.white-bg .main-navigation--style-2 .navbar-nav li .nav-link:hover,
  .header.white-bg .main-navigation--style-2 .navbar-nav li.show .nav-link {
    color: #004DA0; } }
/* 7 Blocks/Widgets */
/* Social icons block */
.social-links li a:hover {
  border-color: #0c9ec7;
  color: #0c9ec7; }
.social-links.animated-effect-1 li a:after {
  background-color: #004DA0; }
.social-links.default li a {
  background-color: #004DA0;
  border: 1px solid #0c9ec7; }

.header-top:not(.dark) .social-links .dropdown.show > button > i:before {
  color: #004DA0; }

/*Header Dropdowns (search, cart etc) */
.header-dropdown-buttons .btn-group > .btn:hover {
  background-color: #004DA0;
  border-color: #0c9ec7; }

.header-dropdown-buttons .btn-group.show > .btn {
  background-color: #004DA0;
  border-color: #0c9ec7; }

.dark.header-top .dropdown-menu {
  border: 1px solid #252a2c;
  background: #2e3537; }

.colored.header-top .dropdown-menu {
  border: 1px solid #004DA0;
  background: #004DA0; }

/* Media */
.media:hover .icon {
  color: #004DA0;
  border: 1px solid #004DA0; }

/* Full Width Content */
/* Large and Medium devices (desktops, tablets less than 1199px) */
@media (max-width: 1199px) {
  .full-width-section:not(.no-image) .full-text-container.default-bg {
    background-color: rgba(0, 77, 160, 0.6); } }
/* Pricing tables */
.popover-title {
  background-color: #004DA0; }

/* Tags cloud block */
.tag a {
  background-color: #004DA0;
  border: 1px solid #0c9ec7; }
.tag a:hover {
  color: #004DA0;
  border-color: #0c9ec7; }

/* 8 Main Slideshow */
.tp-bannertimer {
  background-color: rgba(0, 77, 160, 0.8); }

/* 9 Slick Carousel */
.content-slider-with-large-controls .slick-prev:after,
.content-slider-with-large-controls-autoplay .slick-prev:after {
  color: #004DA0; }

.content-slider-with-large-controls .slick-next:after,
.content-slider-with-large-controls-autoplay .slick-next:after {
  color: #004DA0; }

/* 10 Full Page */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: rgba(0, 77, 160, 0.8); }

@media (min-width: 1281px) {
  .container-medium {
    max-width: 1510px; } }
html, body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  font-family: "Roboto", sans-serif, Noto Sans CJK TC, "Noto Sans CJK TC", 微軟正黑體, "微軟正黑體", Microsoft JhengHei, "Microsoft JhengHei", Noto Sans CJK TC, "Noto Sans CJK TC", 微軟正黑體, "微軟正黑體", Microsoft JhengHei, "Microsoft JhengHei";
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: #363d4c; }
  @media (min-width: 1281px) {
    html, body {
      letter-spacing: 1px; } }
  @media (max-width: 1199px) {
    html, body {
      font-size: 15px; } }
  @media (max-width: 991px) {
    html, body {
      font-size: 14px; } }
  @media (max-width: 350px) {
    html, body {
      font-size: 13px; } }

p {
  line-height: 1.5em; }

a {
  color: #CC0019;
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: none; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.35em; }

.clearfix:after, .clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.mh-60vh {
  min-height: 60vh; }

.text-colored {
  color: #004DA0; }

.text-shadows {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15); }

.text-shadows-deep, .banner.in-banner .banner-context > *, .banner.in-banner .breadcrumb {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }

.shadow-0 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.shadow-5, #btn-aside-trigger {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35); }

.shadow-10 {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35); }

.shadow-15 {
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.35); }

.shadow-20 {
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.35); }

.shadow-30 {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35); }

.cms-table-wrap {
  overflow-x: auto; }

.pic img {
  margin: 0 auto; }

.bbradius-0, .form-control, ul.pagination .page-item .page-link,
.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link,
ul.pager .page-item .page-link {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }

.bbradius-5, .header .dropdown-menu, .dark.header .dropdown-menu, #main-menu-trigger .lines, #main-menu-trigger .lines:before, #main-menu-trigger .lines:after {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.bbradius-8 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }

.bbradius-10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.bbradius-12 {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px; }

.bbradius-15 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px; }

.bbradius-20 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }

.bbradius-30 {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }

.bbradius-50 {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px; }

.bbradius-60, #btn-aside-trigger {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -o-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px; }

.bbradius-80 {
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -o-border-radius: 80px;
  -ms-border-radius: 80px;
  border-radius: 80px; }

.bbradius-90, .filters-cc .nav-pills > li .nav-link {
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -o-border-radius: 90px;
  -ms-border-radius: 90px;
  border-radius: 90px; }

.bbradius-100pa {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%; }

.parallax-wrapper .parallax-custom {
  background-attachment: fixed; }

.letter-space-01 {
  letter-spacing: 1px; }

.letter-space-02 {
  letter-spacing: 2px; }

.letter-space-03 {
  letter-spacing: 3px; }

.letter-space-04, .banner.in-banner .page-title {
  letter-spacing: 4px; }

.letter-space-05 {
  letter-spacing: 5px; }

.letter-space-08 {
  letter-spacing: 8px; }

.pv-7r {
  padding-top: 7rem;
  padding-bottom: 7rem; }

.pv-6r {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.pv-5r {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.pv-4r {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.pv-3r {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pointer {
  cursor: pointer; }

.scrollToTop {
  width: 40px;
  height: 40px; }
  .scrollToTop i {
    line-height: 38px; }
  .scrollToTop:hover {
    background-color: #CC0019; }

form label, .radio label, .checkbox label {
  font-weight: normal; }

.form-control {
  border: 1px solid #62708c; }
  .form-control.form-control-small {
    max-width: 9.5rem; }

.editor-wrap img {
  max-width: 100%; }

.btn-cta {
  background-color: #CC0019;
  border-color: #CC0019;
  color: #fff; }

.btn-cta:hover,
.btn-cta:focus,
.btn-cta.focus,
.btn-cta:active,
.btn-cta.active {
  background-color: white;
  border-color: #b3192b;
  color: #b3192b; }

.btn-cta-h {
  background-color: white;
  border-color: #CC0019;
  color: #CC0019; }

.btn-cta-h:hover,
.btn-cta-h:focus,
.btn-cta-h.focus,
.btn-cta-h:active,
.btn-cta-h.active {
  background-color: #b3192b;
  border-color: #b3192b;
  color: white; }

.btn-default-h {
  background-color: white;
  border-color: #004DA0;
  color: #004DA0; }

.btn-default-h:hover,
.btn-default-h:focus,
.btn-default-h.focus,
.btn-default-h:active,
.btn-default-h.active {
  background-color: #004DA0;
  border-color: #004DA0;
  color: white; }

.page-border {
  border-top: 0.5rem solid #CC0019; }

.products-list .product-item {
  overflow: hidden;
  position: relative;
  z-index: 1; }
  .products-list .product-item .detail-link {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 2;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.35s ease;
    -mos-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    .products-list .product-item .detail-link:after {
      position: absolute;
      bottom: -110%;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.35);
      -webkit-transition: all 0.35s ease;
      -mos-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      transition: all 0.35s ease;
      opacity: 0;
      z-index: -1; }
    .products-list .product-item .detail-link .btn span {
      position: relative;
      top: 30px;
      -webkit-transition: all 0.85s ease;
      -mos-transition: all 0.85s ease;
      -o-transition: all 0.85s ease;
      -ms-transition: all 0.85s ease;
      transition: all 0.85s ease; }
  .products-list .product-item .product-image {
    max-width: 100%;
    overflow: hidden; }
    .products-list .product-item .product-image img {
      width: 100%; }
  @media all and (min-width: 992px) {
    .products-list .product-item .product-image img {
      -webkit-transition: all 0.5s ease;
      -mos-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .products-list .product-item:hover .detail-link {
      -webkit-transition: all 0.35s ease;
      -mos-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      transition: all 0.35s ease;
      opacity: 1; }
      .products-list .product-item:hover .detail-link:after {
        bottom: 0;
        opacity: 1;
        -webkit-transition: all 0.35s ease;
        -mos-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        -ms-transition: all 0.35s ease;
        transition: all 0.35s ease; }
      .products-list .product-item:hover .detail-link .btn span {
        top: 0;
        -webkit-transition: all 0.85s ease;
        -mos-transition: all 0.85s ease;
        -o-transition: all 0.85s ease;
        -ms-transition: all 0.85s ease;
        transition: all 0.85s ease; }
    .products-list .product-item:hover .product-image img {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
      -webkit-transition: all 0.5s ease;
      -mos-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease; } }
  @media all and (max-width: 991px) {
    .products-list .product-item .detail-link {
      bottom: 0;
      z-index: 2;
      height: auto;
      opacity: 1;
      padding: 0.75rem 0.5rem; }
      .products-list .product-item .detail-link:after {
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        opacity: 1; }
      .products-list .product-item .detail-link a.btn span {
        top: 0; } }

.filters-cc .nav-pills > li {
  margin-bottom: 0.5rem; }
  .filters-cc .nav-pills > li .nav-link {
    border: 2px solid rgba(0, 77, 160, 0.15);
    padding: 0.35rem 1rem; }
    .filters-cc .nav-pills > li .nav-link.active, .filters-cc .nav-pills > li .nav-link.active:hover, .filters-cc .nav-pills > li .nav-link.active:focus, .filters-cc .nav-pills > li .nav-link:hover, .filters-cc .nav-pills > li .nav-link:focus {
      border-color: #CC0019;
      color: #CC0019;
      background-color: transparent; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.6, 0.6);
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -o-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6); }
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8; }
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0; }

ul.pagination .page-item .page-link,
.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link,
ul.pager .page-item .page-link {
  width: 2rem;
  height: 2rem;
  line-height: calc(2rem - 1px); }

.header-container {
  background-color: black; }

@media all and (min-width: 1441px) {
  .logo-img {
    width: 254px; } }
@media all and (max-width: 1280px) {
  .logo-img {
    width: 230px; } }
@media all and (max-width: 768px) {
  .logo-img {
    width: 220px; } }
@media all and (max-width: 414px) {
  .logo-img {
    width: 185px; } }

.transparent-header.gradient-background-header header.header.dark.transparent-header-on {
  background: transparent; }
  @media all and (max-width: 991px) {
    .transparent-header.gradient-background-header header.header.dark.transparent-header-on.menu-opened {
      background: -moz-linear-gradient(top, rgba(6, 23, 47, 0.7) 0%, rgba(6, 23, 47, 0.35) 99%, rgba(6, 23, 47, 0) 100%);
      background: -webkit-linear-gradient(top, rgba(6, 23, 47, 0.7) 0%, rgba(6, 23, 47, 0.35) 99%, rgba(6, 23, 47, 0) 100%);
      background: linear-gradient(to bottom, rgba(6, 23, 47, 0.7) 0%, rgba(6, 23, 47, 0.35) 99%, rgba(6, 23, 47, 0) 100%); } }
.transparent-header .dark.header .navbar-nav li .nav-link {
  color: white; }
@media all and (min-width: 992px) {
  .transparent-header .dark.header .navbar-nav .show .nav-link, .transparent-header .dark.header .navbar-nav .show .nav-link:hover, .transparent-header .dark.header .navbar-nav .show .nav-link:focus, .transparent-header .dark.header .navbar-nav .dropdown .nav-link:focus {
    background-color: transparent;
    color: #b3192b; } }

.header .dropdown-menu, .dark.header .dropdown-menu {
  background: white; }
  .header .dropdown-menu > li > a, .dark.header .dropdown-menu > li > a {
    color: #363d4c;
    border-bottom: none;
    text-shadow: none; }
  @media all and (min-width: 992px) {
    .header .dropdown-menu > li > a:hover, .header .dropdown-menu > li > a:focus, .dark.header .dropdown-menu > li > a:hover, .dark.header .dropdown-menu > li > a:focus {
      background-color: white;
      color: #b3192b; } }
.header .dropdown-toggle::after, .dark.header .dropdown-toggle::after {
  display: none; }
.header .navbar-nav li .nav-link, .dark.header .navbar-nav li .nav-link {
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65); }
@media all and (min-width: 992px) {
  .header .navbar-nav li .nav-link:hover,
  .header .navbar-nav li .nav-link:focus,
  .header .navbar-nav .active .nav-link,
  .header .navbar-nav .active .nav-link:hover,
  .header .navbar-nav .active .nav-link:focus, .dark.header .navbar-nav li .nav-link:hover,
  .dark.header .navbar-nav li .nav-link:focus,
  .dark.header .navbar-nav .active .nav-link,
  .dark.header .navbar-nav .active .nav-link:hover,
  .dark.header .navbar-nav .active .nav-link:focus {
    color: #CC0019;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); } }

.header.menu-opened #main-menu-trigger .x .lines {
  background: transparent !important; }
.header.menu-opened #main-menu-trigger .x .lines:before, .header.menu-opened #main-menu-trigger .x .lines:after {
  -o-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 20px; }
.header.menu-opened #main-menu-trigger .x .lines:before {
  -o-transform: rotate3d(0, 0, 1, 45deg);
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  -ms-transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg); }
.header.menu-opened #main-menu-trigger .x .lines:after {
  -o-transform: rotate3d(0, 0, 1, -45deg);
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  -ms-transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg); }

#main-menu-trigger {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 16px;
  height: 24px;
  border: none;
  background: none; }
  #main-menu-trigger .lines-button {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  #main-menu-trigger .lines {
    display: block;
    width: 16px;
    height: 2px;
    -webkit-transition: 0.3s;
    -mos-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -mos-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: black; }
    #main-menu-trigger .lines:before, #main-menu-trigger .lines:after {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 2px;
      -webkit-transition: 0.3s;
      -mos-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
      content: "";
      left: 0;
      -ms-transform-origin: 2.85714px center;
      -mos-transform-origin: 2.85714px center;
      -o-transform-origin: 2.85714px center;
      -webkit-transform-origin: 2.85714px center;
      transform-origin: 2.85714px center;
      width: 100%;
      background: black; }
    #main-menu-trigger .lines:before {
      top: 5px; }
    #main-menu-trigger .lines:after {
      top: -5px; }

.dark .navbar #main-menu-trigger .lines {
  background: white; }
  .dark .navbar #main-menu-trigger .lines:before, .dark .navbar #main-menu-trigger .lines:after {
    background: white; }

#footer .footer-content {
  padding: 3.8rem 0 2.5rem 0;
  background: url(../../images/bg-pattern01.jpg) center center repeat;
  border-top: 2px solid #004DA0; }
  #footer .footer-content h4 {
    font-size: 0.98rem;
    margin-bottom: 1em; }
  #footer .footer-content .list-icon {
    list-style-type: none;
    padding: 0; }
    #footer .footer-content .list-icon li {
      font-size: 13px;
      line-height: 2.5em; }
#footer .social-icons ul {
  padding: 0;
  list-style: none; }
  #footer .social-icons ul .social-facebook a {
    font-size: 13px;
    color: #3b5998;
    border: 1px solid #3b5998;
    padding: 0.5em 1.5em; }
  @media all and (min-width: 992px) {
    #footer .social-icons ul .social-facebook a:hover, #footer .social-icons ul .social-facebook a:focus, #footer .social-icons ul .social-facebook a:active {
      background: #3b5998;
      color: white; } }

.footer-logo-pic {
  max-width: 240px; }
  @media all and (max-width: 640px) {
    .footer-logo-pic {
      max-width: 200px; } }
  @media all and (max-width: 480px) {
    .footer-logo-pic {
      max-width: 180px; } }

.subfooter {
  font-size: 12px; }
  .subfooter a {
    color: #62708c; }

.header-first {
  padding: 0; }

.banner.in-banner {
  min-height: 380px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .banner.in-banner .page-title {
    font-size: 2.75rem;
    color: #0c9ec7; }
    @media all and (max-width: 991px) {
      .banner.in-banner .page-title {
        letter-spacing: 2px; } }
  .banner.in-banner .breadcrumb {
    font-size: 0.9rem; }
  @media all and (max-width: 991px) {
    .banner.in-banner {
      min-height: 320px; } }

.breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 0; }
  .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    content: "‧"; }

.about-wrap .about-title {
  font-size: 2.25rem;
  font-weight: bold;
  color: #CC0019; }
  @media all and (max-width: 991px) {
    .about-wrap .about-title {
      font-size: 1.75rem; } }
  @media all and (max-width: 640px) {
    .about-wrap .about-title {
      font-size: 1.5rem; } }
.about-wrap.dark {
  color: #cdcdcd; }
.about-wrap.about-bg {
  background-repeat: no-repeat; }
  @media all and (min-width: 1921px) {
    .about-wrap.about-bg {
      background-size: 2048px auto; } }
.about-wrap .about-slogan {
  letter-spacing: 5px; }
.about-wrap .about-border {
  border-top: 0.5rem solid #CC0019; }
@media all and (min-width: 992px) {
  .about-wrap .about-context {
    font-size: 1.25rem; } }
@media all and (max-width: 991px) {
  .about-wrap .about-pic01 img {
    margin: auto; } }
.about-wrap .service-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2.5rem; }
.about-wrap .icon-service-wrap {
  flex-direction: column;
  text-align: center; }
  .about-wrap .icon-service-wrap .icon-service {
    min-width: 72px;
    max-width: 90px; }
    @media all and (min-width: 992px) {
      .about-wrap .icon-service-wrap .icon-service {
        min-width: 72px; } }
    @media all and (max-width: 991px) {
      .about-wrap .icon-service-wrap .icon-service {
        min-width: 4rem;
        max-width: 5rem; } }
.about-wrap .bg-fixed {
  background-repeat: no-repeat; }
@media all and (min-width: 992px) {
  .about-wrap .bg-fixed {
    background-attachment: fixed;
    background-repeat: no-repeat; } }
@media all and (max-width: 991px) {
  .about-wrap .about-pic-wrap {
    padding: 0; }
  .about-wrap .bg-about-service {
    min-height: 460px;
    background-size: cover;
    background-position: center center; } }

.bg-news {
  background: #eee url(../../images/bg-news.jpg) center right no-repeat;
  background-size: cover; }

.contact-info-list i {
  min-width: 2.5rem;
  text-align: center; }
.contact-info-list a {
  color: #363d4c; }

@media all and (max-width: 991px) {
  .products-list .product-item .product-detail-link.detail-link {
    width: 100%;
    height: 100%; }
    .products-list .product-item .product-detail-link.detail-link a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
    .products-list .product-item .product-detail-link.detail-link:after {
      width: 0;
      height: 0;
      z-index: -2; } }

#btn-aside-trigger {
  width: auto;
  height: 2.5rem;
  line-height: 2.5rem;
  z-index: 1;
  cursor: pointer;
  background: #06172f;
  color: white; }
  @media only screen and (max-width: 480px) {
    #btn-aside-trigger {
      line-height: 1.125em;
      height: auto;
      padding-top: 0.5em;
      padding-bottom: 0.5em; }
      #btn-aside-trigger .fa {
        display: none; } }
  @media only screen and (max-width: 375px) {
    #btn-aside-trigger {
      font-size: 13px; } }

@media only screen and (max-width: 991px) {
  .aside-wrap aside {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.35s ease;
    -mos-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    .aside-wrap aside.asidemenu-opened {
      max-height: 90vh;
      overflow: auto; } }

.side-menu .nav.flex-column > li .nav-link {
  font-size: 1rem;
  color: white; }
@media all and (min-width: 992px) {
  .side-menu .nav.flex-column > li .nav-link.active, .side-menu .nav.flex-column > li .nav-link.active:hover, .side-menu .nav.flex-column > li .nav-link.active:focus, .side-menu .nav.flex-column > li .nav-link:hover, .side-menu .nav.flex-column > li .nav-link:focus, .side-menu .nav.flex-column > li .nav-link.active {
    color: #0c9ec7; }
  .side-menu .nav.flex-column > li .nav-link.active:after {
    right: 10px;
    color: #0c9ec7; } }

/*# sourceMappingURL=custom-in.css.map */
