// header in homepage
.header
    @media all and (min-width: 992px)
        .navbar-nav
            li
                .nav-link
                    padding: 3.7rem 0.8rem 2rem 0.8rem
                    @media all and (min-width: 1481px)
                        padding: 3.7rem 0.95rem 2.15rem 0.95rem

// banner
.home-banner
    overflow: hidden
    .caption-box-cc
        width: 580px
        padding-bottom: 1.25rem
        .bn-title
            font-size: 3.15rem
            font-weight: 700
            letter-spacing: 10px
            border-bottom: 2px solid $base-color2
            padding-bottom: .75rem
        @media all and (max-width: 768px)
            width: 430px
            .bn-title
                font-size: 2.5rem
                letter-spacing: 5px
        @media all and (max-width: 640px)
            width: 320px
            .bn-title
                font-size: 1.75rem
                letter-spacing: 3px
        @media all and (max-width: 414px)
            width: 288px


// idx-service-wrap
.idx-service-wrap
    background-attachment: fixed
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    -webkit-box-shadow: inset 0px 12px 30px 0px rgba(black, .35)
    -moz-box-shadow: inset 0px 12px 30px 0px rgba(black, .35)
    box-shadow: inset 0px 12px 30px 0px rgba(black, .35)
    .btn-idx-service
        position: relative
        top: 4rem
    h4
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.35)
    @media all and (min-width: 1200px)
        h4
            font-size: 1.1rem
        .idx-service-item
            -ms-flex: 0 0 calc(100%/7)
            flex: 0 0 calc(100%/7)
            max-width: 200px
    @media all and (max-width: 991px)
        background-size: auto 100%
    @media all and (max-width: 768px)
        background-attachment: scroll
    
// idx-about
.idx-about
    background-color: black
    background-position: center left
    background-attachment: fixed
    background-size: cover
    background-repeat: no-repeat
.idx-about-content
    border: 12px solid $base-color-hover
    position: relative
    z-index: 1
    &:before
        content: ""
        position: absolute
        z-index: 0
        top: 0
        left: 0
        +size(45%, 100%)
        background: #efefef url(../../images/home/idx-about02.jpg) top left no-repeat
        background-size: cover
    @media all and (max-width: 991px)
        &:before
            +size(100%, 55%)