// inner header 
.header-first
    padding: 0

.banner.in-banner
    min-height: 380px
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    .page-title
        font-size: 2.75rem
        color: $base-color-hover
        @extend .letter-space-04
        @media all and (max-width: 991px)
            letter-spacing: 2px
    .banner-context
        > *
            @extend .text-shadows-deep

    .breadcrumb
        font-size: .9rem
        @extend .text-shadows-deep
    @media all and (max-width: 991px)
        min-height: 320px
.breadcrumb
    .breadcrumb-item
        + .breadcrumb-item
            padding-left: 0
            &:before
                content: '‧'